body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 20px;
}

h1,
h2 {
	text-align: center;
}

a {
	margin: 0 10px;
	color: #5cb85c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	background-color: #fff;
	padding: 20px;
	margin: 10px 0;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button {
	padding: 10px 20px;
	background-color: #5cb85c;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	margin: 20px auto;
}

button:hover {
	background-color: #4cae4c;
}

.empty-cart {
	text-align: center;
	font-size: 1.2em;
	color: #777;
	margin-top: 20px;
}

.order-success {
	text-align: center;
	font-size: 1.5em;
	color: #5cb85c;
	margin-top: 20px;
}

.redirect-message {
	text-align: center;
	font-size: 1.2em;
	color: #777;
}

.redirect-button {
	display: block;
	text-align: center;
	margin: 20px auto;
	padding: 10px 20px;
	background-color: #5cb85c;
	color: white;
	border: none;
	border-radius: 4px;
	text-decoration: none;
}

.redirect-button:hover {
	background-color: #4cae4c;
}

.item-total {
	font-weight: bold;
	color: #333;
}

.overall-total {
	text-align: right;
	font-size: 1.5em;
	font-weight: bold;
	color: #333;
	margin-top: 20px;
}
